.p{
  display:inline-block;
  border:#666 1px solid;
  margin:2px;
  font-size:24px;
  cursor:pointer;
  width:50px;
  height:50px;
  border-radius:50%;
  padding-top: 5px;
  text-align: center;
}
.pSpace{
  display:inline-block;
  border:#666 1px solid;
  margin:2px;
  padding-top: 10px;
  font-size:24px;
  cursor:pointer;
  width:60px;
  height:60px;
  border-radius:50%;
  text-align: center;
}
.pCarre{
  display:inline-block;
  border:#666 1px solid;
  margin:2px;
  font-size:24px;
  cursor:pointer;
  width:100px;
  height:40px;
  text-align: center;
}
